
nav{
    width: 100%;
    background-color: #696B56;
    display: flex;
    align-items: center;
    overflow-x: auto;
    @media (min-width: 900px) {
        justify-content: center;
    }

// logo brand
    img {
        width: 80px;
        @media (max-width: 900px) {
            width: 40px;
        }
    }
// NavLinks
    a{
        font-size: 20px;
        font-weight: bold;
        margin-left: 15px;
        color: #0000ff;
        text-decoration: none;
        white-space: nowrap;
        &.active{
            color: darkgray;
        }
        @media (max-width: 900px) {
            font-size: 15px;
        }
    }
}
